.fabs {
    --_viewport-margin: 2.5vmin;
  
    position: fixed;
    z-index: var(--layer-1);
  
    inset-block: auto var(--_viewport-margin);
    margin-left: var(--_viewport-margin);
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
    gap: var(--_viewport-margin);
  }

  .fab {
    --_size: 2rem;
  
    padding: calc(var(--_size) / 2);
    border-radius: 30px;
   
    background-color: #2c3e50;
    color:white;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
  }

  .fab:hover{
    background-color: #4d6d8c;
  }

